@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    box-sizing: border-box;
}

:root {
    --font-family: "Roboto", sans-serif;
}

body {
    background-color: lightgrey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
    max-width: 800px;
    padding: 30px 20px;
    border-radius: 15px;
    display: flex;

    .container__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        row-gap: 15px;

        .btn {
            width: 225px;
            background-color: lightgray;
            border: 2px solid slategray;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            cursor: pointer;
            transition: background-color 1s ease 0s;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .container__divider {
        width: 1px;
        background-color: slategray;
        margin-inline: 10px;
    }

    .container__aside {
        width: 50%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .container__headings {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            padding-bottom: 8px;
    
            span:first-of-type {
                font-weight: 400;
            }
    
            span:last-of-type {
                font-weight: 700;
            }
        }

        .container__results {
            border: 1px solid lightgray;
            margin-block: 20px;
            flex-grow: 1;
            border-radius: 5px;
            padding: 15px 10px;

            .container__person {
                border: 1px solid lightgray;
            }
        }
    }
}